.hero {
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__content {
    width: 30rem;
    height: 74rem;
    margin: 0 auto;
    background: $color-bg-hero;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3.2rem;
    color: $color-text;
    position: relative;
    overflow: hidden;

    @media (min-width: 425px) and (max-width: 767px) {
      width: 40rem;
    }

    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      width: 72rem;
      height: 60rem;
    }

    @media (min-width: 1024px) {
      width: 1024px;
      height: 57rem;
    }

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media (min-width: 768px) {
        width: 59rem;
        margin-left: 3rem;
      }
    }
  }

  &__title {
    padding-top: 4rem;
    font-family: $font-heading;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4rem;
    margin: 0;

    @media (min-width: 768px) {
      font-size: 4.5rem;
      line-height: 5rem;
    }

    @media (min-width: 1024px) {
      text-align: left;
      width: 51rem;
    }
  }

  &__description {
    font-family: $font-text;
    font-weight: 300;
    width: 271px;
    font-size: 1.4rem;
    line-height: 1.9;
    margin: 1.6rem 0 3.2rem;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 1.8rem;
    }

    @media (min-width: 1024px) {
      text-align: left;
      width: 51rem;
    }
  }

  &__contactBtn {
    text-align: center;
    background-color: $color-btn;
    text-decoration: none;
    width: 19rem;
    border-radius: 10rem;
    color: $color-text-2;
    font-family: $font-text;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
    padding: 1.5rem 3rem;

    &:hover {
      background-color: $color-text-2;
      color: $color-btn;
    }
  }

  &__img {
    width: 35rem;
    height: auto;
    object-fit: cover;
    position: relative;
    margin-top: -4rem;
    top: 4rem;
    padding: 0 2.3rem;

    @media (min-width: 768px) {
      margin-top: 2rem;
      width: 48rem;
      height: 100%;
      right: 1.5rem;
    }

    @media (min-width: 1024px) {
      width: 49rem;
      margin-top: -4rem;
      right: 0.5rem;
    }
  }
}
