$color-text: #000;
$color-text-2: #ffffff;
$color-description: rgb(203, 202, 202);
$color-primary: #576cbc;
$color-secondary: #19376d;
$color-dark: #0b2447;
$color-bg: #ffffff;
$color-bg-experience: #2d3043;

$color-bg-hero: linear-gradient(#eeecea, #efd8cf);
$color-bg-hero-big: linear-gradient(to left #efd8cf, #eeecea);

$font-text: "Montserrat", serif;
$font-heading: "Unbounded", serif;
$color-navbar-underscore: #f18254;
$color-btn: #f18254;

$color-icon-1: #f18254;
$color-icon-2: #4f5e75;
$color-icon-3: #8fa8cf;
$color-icon-4: #2d3043;
$color-icon-5: #a9b2c0;
