$color-text: #fff;
$color-description: rgb(203, 202, 202);
$color-primary: #576cbc;
$color-secondary: #19376d;
$color-dark: #0b2447;
$color-bg: #ffffff;

$font-text: "Montserrat", serif;
$font-heading: "Unbounded", serif;
$color-navbar-underscore: #f18254;
