.contact__container {
  color: $color-text;
  margin-top: 8rem;
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;

  width: 100vw;
  padding: 4rem 10%;
  gap: 10px;
  @media (min-width: 768px) {
    border-radius: 1rem;
    max-width: 117rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
  }

  .contact__text {
    text-align: center;
    h2 {
      font-size: 3rem;
      text-align: center;
      font-weight: 700;
      letter-spacing: 4px;
      margin-bottom: 1rem;
    }

    p {
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 2px;
    }
  }

  .contact__links {
    list-style: none;
    @media (min-width: 768px) {
      margin-top: 3rem;
      display: flex;
      justify-content: space-between;
      gap: 4rem;
    }

    .contact__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;

      img {
        color: #fff;
        @media (min-width: 768px) {
          width: 6rem;
        }
      }

      a {
        color: $color-text;
        text-decoration: none;
        font-size: 1.7rem;
        font-weight: 400;
        letter-spacing: 1.5px;
        transition: all ease 0.3s;

        @media (min-width: 768px) {
          &:hover {
            transform: scale(
              1.2
            ); // Simulates padding without layout shift
          }
        }
      }
    }
  }
}
