.contact__container {
  border-radius: 3.2rem;
  background: $color-bg-hero;
  color: $color-text;
  margin-top: 6rem;

  display: flex;
  flex-direction: column;
  width: 92%;
  padding: 4rem 10%;
  gap: 10px;
  margin: 0 auto 2rem;

  @media (min-width: 768px) {
    border-radius: 1rem;
    max-width: 117rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
  }

  .contact__text {
    text-align: center;
    h2 {
      font-family: $font-heading;
      font-size: 3.2rem;
      text-align: center;
      font-weight: 500;
      letter-spacing: 4px;
      margin-bottom: 1rem;
      line-height: 4rem;
    }

    p {
      font-size: 1.4rem;
      font-weight: 300;
      letter-spacing: 2px;
      line-height: 2rem;
    }
  }

  .contact__links {
    margin-top: 4.8rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
    @media (min-width: 768px) {
      margin-top: 3rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 4rem;
    }

    .contact__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;
      font-size: 1rem;

      & p {
        font-family: $font-text;
        line-height: 1.6rem;
        font-weight: 500;
        font-size: 1.2rem;
      }

      img {
        width: 5rem;
        height: 5rem;
        padding: 1rem;
        border-radius: 50%;
        background: white;

        box-sizing: border-box;
        // @media (min-width: 768px) {
        //   width: 5rem;
        // }
      }

      a {
        color: $color-text;
        text-decoration: none;
        font-size: 1.7rem;
        font-weight: 400;
        letter-spacing: 1.5px;
        transition: all ease 0.3s;

        @media (min-width: 768px) {
          &:hover {
            transform: scale(
              1.2
            ); // Simulates padding without layout shift
          }
        }
      }
    }
  }
}
