.contact__container {
  color: $color-text;
  margin-top: 2rem;
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;

  width: 100vw;
  padding: 4rem 10%;
  gap: 10px;

  .contact__text {
    text-align: center;
    h2 {
      font-size: 3rem;
      text-align: center;
      font-weight: 700;
      letter-spacing: 4px;
      margin-bottom: 1rem;
    }

    p {
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 2px;
    }
  }

  .contact__links {
    list-style: none;

    .contact__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;

      a {
        color: $color-text;
        text-decoration: none;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.5px;
      }
    }
  }
}
