.navbar {
  height: 5rem;
  position: relative;
  transition: all 0.4s ease;

  // Main navigation styles
  & ul {
    display: none;
    width: 100%;
    padding: 2rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;

    // Open state for the navbar
    &.navbar__open {
      display: flex; // Show links when the menu is open
      flex-direction: column;
      align-items: center;

      z-index: 1;

      @media (max-width: 768px) {
        position: absolute;
        top: 2rem;
        background: rgb(46, 121, 161);
        margin-top: -3rem;

        & li {
          margin: 1rem 0;

          & a {
            color: #fff;
            font-size: 1.5rem;
          }
        }
      }
    }

    // Closed state for the navbar
    &.navbar__close {
      @media (max-width: 768px) {
        display: none;
        transition: all 0.3s ease;
      }
    }

    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;

      &.navbar__open,
      &.navbar__close {
        display: flex;
      }
    }

    & li {
      & a {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        cursor: pointer;
        padding: 0.7rem;
        border-radius: 5px;
        box-sizing: border-box;
        transition: all 0.2s;

        &:hover {
          color: #038fb9;
          background-color: #fff;
        }
      }
    }
  }

  // Hamburger menu icon styles
  .hamburgerIcon {
    display: none;

    @media (max-width: 767px) {
      display: block;
      position: absolute;
      top: 1rem;
      right: 1rem;
      z-index: 2;
      color: #fff;
    }

    // SVG styles for the hamburger icon
    & svg {
      cursor: pointer;
      width: 40px;
      height: 35px;
      fill: #fff;
      transition: transform 0.3s ease, fill 0.3s ease;

      &.hamburgerIconBtnCross {
        width: 30px;
        height: 30px;
        margin-right: 1rem;
      }

      &.hamburgerIconBtn {
        transform: rotate(0deg);
      }

      &.hamburgerIconBtnCross {
        transform: rotate(90deg); // Rotate for cross icon
      }
    }
  }
}
