.navbar {
  height: 5rem;
  position: relative;
  transition: all 0.4s ease;

  // Main navigation styles
  & ul {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

    // Open state for the navbar
    &.navbar__open {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem 0;
      z-index: 1;

      @media (max-width: 472px) {
        position: absolute;
        top: 2rem;
        background: rgb(150, 211, 243);
        margin-top: -3rem;

        & li {
          margin: 1rem 0;

          & a {
            color: #fff;
          }
        }
      }
    }

    // Closed state for the navbar
    &.navbar__close {
      @media (max-width: 425px) {
        display: none; // Hide menu when closed on mobile
        transition: all 0.3s ease;
      }
    }

    // Individual list items and links
    & li {
      list-style-type: none;

      & a {
        text-decoration: none;
        color: #333;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
          color: #038fb9;
        }
      }
    }
  }

  // Hamburger menu icon styles
  .hamburgerIcon {
    display: none;

    @media (max-width: 425px) {
      display: block;
      position: absolute;
      top: 1rem;
      right: 1rem;
      z-index: 2;
    }

    // SVG styles for the hamburger icon
    & svg {
      cursor: pointer;
      width: 40px;
      height: 35px;
      fill: #333;
      transition: fill 0.3s ease;

      &.hamburgerIconBtnCross {
        width: 30px;
        height: 30px;
        margin-right: 1rem;
      }
    }
  }
}
